div#rep .form-group{
  margin-top: 20px;
  display: inline-block;
  position: relative;
}

#reponse {
  width: 700px;
  height: 600px;
}

#btn-valider{
  vertical-align: middle;
}
#btn-executer{
  color: #5bcccc;
  border: 1px solid #5bcccc;
  background-color: transparent;
}
#btn-executer:hover{
  background-color: #d6ffff;
}
