
/* navbar */

#navbar-menu {
 background-color: #314970;
 border-color: #E7E7E7;
 border-radius: 0;
}

#navbar-menu-onglet li a{
  color: #000000;
}

#navbar-menu-onglet li a:hover{
  color:white;
}

#navbar-menu-titre {
  color: #000000;
}

#navbar-menu-connexion li a{
  color: #000000;
}

#navbar-menu-connexion li a:hover{
  color: white;
}