#navbar-menu {
 /* Couleur de fond de la barre de navigation */
 	background-color: #d3dbe5;
 	border-color: #E7E7E7;
}

#onglet li a{
  color: #000000;

}

#navbar-brand {
  color: #000000;
}

#partieConexion li a{
  color: #000000;
}

#partieConexion li a:hover{
  color: white;
}

#onglet li a:hover{
  color:white;
}